.b24-form {
    font-family: var(--font-family) !important;
}

.b24-form-wrapper {
    background: transparent;
    margin: 0 auto !important;
    max-width: 100% !important;
    min-height: auto;

    .b24-form-header {
        display: none;
    }

    .b24-form-padding-side {
        padding: 0;
    }

    .b24-form-content {
        padding: 0;
    }

    &.b24-form-border-bottom {
        border: none !important;
    }

    .b24-form-header-padding {
        padding: 0;
    }

    .b24-form-control-string .b24-form-control,
    .b24-form-control-list .b24-form-control,
    .b24-form-control-text .b24-form-control,
    .b24-form-control-select .field-item {
        height: 64px;
        border: 1px solid var(--neutral-white-600);
        box-sizing: border-box;
        border-radius: 8px;
        padding: 0px 16px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: var(--secondary-gray-500);
        background-color: var(--neutral-white-200);

        @media screen and (max-width: 414px) {
            padding: 0px 12px;
        }

        @media screen and (max-width: 375px) {
            font-size: 16px;
        }
        @media screen and (max-width: 320px) {
            height: 48px;
            padding: 0px 8px;
        }
    }

    .b24-form-control-string .b24-form-control-label {
        padding: 24px 32px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: var(--neutral-white-700);
        opacity: 1;

        @media screen and (max-width: 375px) {
            font-size: 16px;
        }
    }

    .b24-form-control-string .b24-form-control:focus,
    .b24-form-control-list .b24-form-control:focus,
    .b24-form-control-text .b24-form-control:focus,
    .b24-form-control-select .field-item:focus {
        background-color: transparent !important;
        border-color: var(--secondary-gray-500);
    }

    .b24-form-control-select-label,
    .b24-form-control:focus+.b24-form-control-label,
    .b24-form-control-not-empty+.b24-form-control-label {
        font-size: 16px;
        opacity: 1;
        padding: 0px 16px;
        color: var(--neutral-white-700);
        top: 5px;
        @media screen and (max-width: 414px) {
            padding: 0 12px;
        }
        @media screen and (max-width: 320px) {
            font-size: 13px;
            top: 1px;
            padding: 0 8px;
        }

        .b24-form-control-required {
            color: var(--neutral-white-700);
        }
    }

    .b24-form-control-required {
        color: #A5A4A4;
    }

    .b24-form-control-label {
        padding: 24px 32px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        color: #A5A4A4;
        opacity: 1;

        @media screen and (max-width: 568px) {
            font-size: 16px;
            padding: 0px 20px;
        }
    }

    .b24-form-control-icon-after .b24-form-control,
    .b24-form-control-icon-after .b24-form-control-label {
        padding-left: 16px;
        @media screen and (max-width: 414px) {
            padding-left: 12px;
        }
        @media screen and (max-width: 320px) {
            padding-left: 8px;
        }
    }

    form>div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 16px;

        @media screen and (max-width: 650px) {
            flex-direction: column;
        }
        @media screen and (max-width: 320px) {
            gap: 8px;
        }
    }

    .b24-form-control-string {
        width: calc(50% - 8px);
        @media screen and (max-width: 650px) {
            width: 100%;
        }

        &:nth-child(1) {
            width: 100%;
        }
    }

    .b24-form-control-list {
        width: 100%;
    }

    .b24-form-control-alert {
        margin-bottom: 0px !important;
    }

    .b24-form-field {
        margin-bottom: 0;
    }

    .b24-form-btn-block {
        margin-top: 14px;
        width: 100%;
        padding: 0;
    }

    .b24-form-btn {
        background-color: var(--primary-red-500) !important;
        height: 64px;
        max-width: 100%;
        width: 100%;
        border-radius: 8px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: var(--neutral-white-50);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @media screen and (max-width: 320px) {
            height: 48px;
            font-size: 16px;
        }

        &:hover {
            background-color: var(--primary-red-600) !important;
        }
    }

    .b24-form-btn-container {
        align-items: flex-start !important;
        width: 100%;
        margin: 0;
    }

    .b24-form-control-alert-message:before {
        display: none;
    }

    .b24-form-control-alert {
        margin-bottom: 0;
    }

    .b24-form-control-alert-message:after {
        display: none;
    }

    .b24-form-control-alert .b24-form-control-alert-message {
        max-width: 100%;
    }

    .b24-form-control-alert-message {
        left: 0px;
        top: 62px;
        padding: 2px 4px 2px 0px;
        background-color: transparent;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: var(--danger-red-500);

        @media screen and (max-width: 320px) {
            padding: 2px 4px 2px 0px;
            top: 46px;
            font-size: 10px;
        }
    }

    .b24-form-control-container {
        margin-bottom: 0;

        textarea {
            height: 220px !important;
            padding: 30px 32px !important;

            @media screen and (max-width: 568px) {
                height: 170px !important;
                padding: 10px 20px;
            }
        }
    }

    .b24-form-field-agreement {
        margin-top: 20px;
        @media screen and (max-width: 320px) {
            margin-top: 12px;
        }

        .b24-form-control-desc {
            color: var(--secondary-gray-500);
        }

        .b24-form-control-required {
            opacity: 0.5;
        }
    }

    .b24-form-control-alert.b24-form-control-checkbox,
    .b24-form-control-alert.b24-form-control-radiobox,
    .b24-form-control-alert.b24-form-control-file,
    .b24-form-control-alert.b24-form-control-list .b24-form-control,
    .b24-form-control-alert.b24-form-control-string .b24-form-control,
    .b24-form-control-alert.b24-form-control-text .b24-form-control {
        background-color: var(--danger-red-50);
        border-color: var(--danger-red-500);
    }

    .b24-form-dropdown-container {
        box-shadow: none;
        filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.15));
        border-radius: 20px;

        .b24-form-control-list-selector-item {
            border-bottom: none;
            padding: 16px 16px;

            // @media screen and (max-width: 568px) {
            //     padding: 8px 20px;
            // }

            &:hover {
                background-color: var(--primary-red-500);
                opacity: 1;

                .b24-form-control-list-selector-item-title {
                    color: var(--neutral-white-50);
                }
            }

            .b24-form-control-list-selector-item-title {
                font-family: var(--font-family);
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                color: var(--secondary-gray-500);

                // @media screen and (max-width: 568px) {
                //     font-size: 16px;
                // }
            }
        }
    }

    .b24-form-control-list .b24-form-control-container:after {
        height: 16px;
        width: 16px;
        top: 30px;
        right: 16px;
        opacity: 1;

        @media screen and (max-width: 320px) {
            top: 19px;
        }
    }

    .b24-form-icon-remove {
        display: none !important;
    }

    .b24-form-sign {
        display: none !important;
    }

    .b24-form-state-container .b24-form-success {
        background-color: transparent !important;
    }
}